################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Heibroch.HotSwap.TestBench/v16
/Heibroch.HotSwap.TestBench/.vs/Heibroch.HotSwap.TestBench
/Heibroch.HotSwap.TestBench/obj
/.vs/Heibroch.HotSwap.TestBench/DesignTimeBuild
/Heibroch.HotSwapper/bin/Debug/netcoreapp3.1
/Heibroch.HotSwapper/obj
/NordicApiGateway.Gateways.DaskeBank/bin/Debug/netcoreapp3.1
/NordicApiGateway.Gateways.DaskeBank/obj
/NordicApiGateways.Interfaces/bin/Debug/netcoreapp3.1
/NordicApiGateways.Interfaces/obj
/Heibroch.HotSwap.TestBench/bin/Debug/netcoreapp3.1/SomeGatewayAPI.Interfaces.pdb
/Heibroch.HotSwap.TestBench/bin/Debug/netcoreapp3.1/SomeGatewayAPI.Interfaces.dll
/Heibroch.HotSwap.TestBench/bin/Debug/netcoreapp3.1/Heibroch.HotSwapper.pdb
/Heibroch.HotSwap.TestBench/bin/Debug/netcoreapp3.1/Heibroch.HotSwapper.dll
/Heibroch.HotSwap.TestBench/bin/Debug/netcoreapp3.1/Heibroch.HotSwap.TestBench.runtimeconfig.json
/Heibroch.HotSwap.TestBench/bin/Debug/netcoreapp3.1/Heibroch.HotSwap.TestBench.runtimeconfig.dev.json
/Heibroch.HotSwap.TestBench/bin/Debug/netcoreapp3.1/Heibroch.HotSwap.TestBench.pdb
/Heibroch.HotSwap.TestBench/bin/Debug/netcoreapp3.1/Heibroch.HotSwap.TestBench.exe
/Heibroch.HotSwap.TestBench/bin/Debug/netcoreapp3.1/Heibroch.HotSwap.TestBench.dll
/Heibroch.HotSwap.TestBench/bin/Debug/netcoreapp3.1/Heibroch.HotSwap.TestBench.deps.json
/SomeGatewayAPI.Gateways.RandoBank/bin/Debug/netcoreapp3.1
/SomeGatewayAPI.Gateways.RandoBank/obj
/SomeGatewayAPI.Interfaces/bin/Debug/netcoreapp3.1
/SomeGatewayAPI.Interfaces/obj
